{% extends 'base.html.twig' %}

{% block title %}Bendrabutis{% endblock %}

{% block body %}
    {% include 'dormitory/inc/dormitory_info.html.twig' %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header">
                    <p>Prašymai</p>
                </div>
                <div class="panel-content">
                {% include 'dormitory/inc/notifications.html.twig' %}

                {% include 'dormitory/inc/request_form.html.twig' %}

                {% include 'dormitory/inc/messages.html.twig' %}
                </div>
            </div>
        </div>
       {% include 'dormitory/inc/actions.html.twig' %}
    <br>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dormitory') }}
{% endblock %}