{% extends 'base.html.twig' %}

{% block title %}Bendrabutis{% endblock %}

{% block body %}
    {% include 'dormitory/inc/dormitory_info.html.twig' %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header">
                    <p>Prašymai</p>
                </div>
                <div class="panel-content">

                {% include 'dormitory/inc/notifications.html.twig' %}

                {% include 'dormitory/inc/request_form.html.twig' %}

                {% include 'dormitory/inc/messages.html.twig' %}

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-header">
                    <p>Prisijungę studentai</p>
                </div>
                <div class="panel-content">
                    <ul class="list-unstyled">
                    {% for student in students %}
                        <li style="display: flex; justify-content: space-between">
                            {{ student.username }}
                            <span>
                            <img src="https://image.flaticon.com/icons/svg/1229/1229996.svg" style="height: 25px">
                            {{ student.roomNr }}
                            </span>
                        </li>
                        <hr>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dormitory') }}

    <script>
        const url = new URL('http://127.0.0.1:9090/.well-known/mercure');
        url.searchParams.append('topic', 'http://127.0.0.1:8000/dormitory');
        const eventSource = new EventSource(url);
        eventSource.onmessage = e => {
        const data = JSON.parse(e.data);
            const ul = document.getElementById("list");
            const li = document.createElement("li");
            li.innerHTML = "<span style=\"vertical-align: text-bottom\" class=\"badge badge-success\">Naujas</span>" +
                "Gyventojas" + data.user + " iš " + data.roomNr +
                "kambario prašo: <strong>"+ data.content +"</strong>\n" +
                "<br>" + "<div style=\"margin-left: 7.3%\">" + "<small><span style=\"cursor: pointer\">Padėti</span></small>&nbsp;&nbsp;&nbsp;" +
            "<small>Pranešti</small>" + "<small class=\"float-right\"><i>"+ data.createdAt +"</i></small></div><br>";
            li.setAttribute("style", "font-size: 14px");
            ul.appendChild(li);
            console.log(data);
        };
    </script>
{% endblock %}
