{% extends 'base.html.twig' %}

{% block title %}Taisyklės{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>Taisyklės</p>
            </div>
            <div class="panel-content">
                {{ rules }}
            </div>
        </div>
    </div>

{% endblock %}
