{% extends 'base.html.twig' %}

{% block title %}Taisyklės{% endblock %}

{% block body %}

    <div class="container">
        <div class="box">
                <h2 class="text-center">
                    <img src="https://image.flaticon.com/icons/svg/2038/2038013.svg" style="height: 60px">
                    Bendrabučio taisyklės
                </h2>
                {{ rules|nl2br }}
        </div>
    </div>

{% endblock %}
