{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="col-md-5 mx-auto">
    <div class="panel">
        <div class="panel-header">
        <p>Prisijungti prie sistemos</p>
        </div>
        <div class="panel-content">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">Neteisingi duomenys</div>
                {% endif %}

                <label for="inputEmail">Elektroninis paštas</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" placeholder="Elektroninis paštas" required autofocus>
                <label for="inputPassword">Slaptažodis</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3 mt-2">
                    <label>
                        <input type="checkbox" name="_remember_me"> Prisiminti
                    </label>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Prisijungti
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
