{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}
    <div class="text-center">
        <h2>Kontaktai</h2>
        <p>Susisiekti su administracija galite žemiau nurodytais kontaktais
        <br><br>
            Tomas Kleinauskas <strong>example@gmail.com</strong><br>
            Mantas Dobrodiejus <strong>example@gmail.com</strong><br>
            Raimondas Ražinskis <strong>example@gmail.com</strong>
        </p>
    </div>
{% endblock %}
