{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}
    <div class="box">
        <h2>Kontaktai</h2>
        <p class="text-center">Susisiekti su administracija galite žemiau nurodytais kontaktais
        <br><br>
            Tomas Kleinauskas <strong>kleinauskastom@gmail.com</strong><br>
            Mantas Dobrodiejus <strong>dobrodiejusmantas@gmail.com</strong><br>
            Raimondas Ražinskis <strong>raimondasnr5@gmail.com</strong>
        </p>
    </div>
{% endblock %}
