{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}
    <div class="alert alert-secondary text-center text-black-50">
        <p>Susisiekti su administracija galite šiais kontaktais
        <br><br>
            Tomas Kleinauskas <strong>example@gmail.com</strong><br>
            Mantas Dobrodiejus <strong>example@gmail.com</strong><br>
            Raimondas Ražinskis <strong>example@gmail.com</strong>
        </p>
    </div>
{% endblock %}
