{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}

<div class="row main-section">
		<div class="card text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Bendrabučiai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/904/904846.svg" class="index-panel-img">
					<br>
					Kiekviena Lietuvos aukštoji mokykla sukūrusi savo organizaciją gali valdyti savo bendrabučius.</p>
			</div>
		</div>
		<div class="card text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Studentai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/167/167750.svg" class="index-panel-img">
					<br>
					Organizacijos į savo bendrabučius kviečia studentus ir jų gyvenimą padaro interaktyvesni.</p>
			</div>
		</div>
		<div class="card text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Prašymai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/2126/2126347.svg" class="index-panel-img">
					<br>
					Studentas esantis bendrabutyje gali parašyti prašymą, kurį mato visi bendrabučio gyventojai.</p>
			</div>
		</div>
		<div class="card text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Apdovanojimai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/2206/2206446.svg" class="index-panel-img">
					<br>
					Už suteiktą pagalbą kitam, bendrabučių gyventojai užsidirba taškus už kuriuos gauna apdovanojimus.</p>
			</div>
		</div>
	</div>

	<h1 class="text-black-50 index-about-text">Apie aplikaciją</h1>
	<p class="text-black-50 index-about-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti odit sequi suscipit. A alias, amet consectetur cumque deserunt dolore ducimus eveniet laboriosam odit, quibusdam quisquam reiciendis, repudiandae tempore ut?</p>
	<p class="text-black-50 index-about-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti odit sequi suscipit. A alias, amet consectetur cumque deserunt dolore ducimus eveniet laboriosam odit, quibusdam quisquam reiciendis, repudiandae tempore ut?</p>

{% endblock %}
