{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}

	<p class="intro-text">
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ad, perspiciatis aut dolores eum rerum, a molestias ratione odit eligendi ut! Deleniti.
	</p>

	<div class="row main-section">
		<div class="dashbord">
			<div class="icon-section">
				<i class="fa fa-users" aria-hidden="true"></i><br>
				<small>Lietuvos aukštųjų mokyklų bendrabučiai besinaudojantys <b>Kaimyne Padėk</b></small>
				<p>10</p>
			</div>
			<div class="detail-section">
				<a href="{{ path('organisation-registration') }}">Pridėkite organizaciją</a>
			</div>
		</div>
		<div class="dashbord dashbord-green">
			<div class="icon-section">
				<i class="fa fa-comments" aria-hidden="true"></i><br>
				<small>Šiuo metu prisijungusių studentų skaičius <b>Kaimyne Padėk</b> platformoje </small>
				<p>8</p>
			</div>
			<div class="detail-section">
				<a href="#">Sukurkite paskyrą</a>
			</div>
		</div>
		<div class="dashbord dashbord-orange">
			<div class="icon-section">
				<i class="fa fa-bell" aria-hidden="true"></i><br>
				<small>Platformoje palikti bendrabučių gyventojų prašymai</small>
				<p>9</p>
			</div>
			<div class="detail-section">
				<a href="#">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-blue">
			<div class="icon-section">
				<i class="fa fa-globe" aria-hidden="true"></i><br>
				<small>Sužinokite daugiau apie <b>Kaimyne Padėk</b> platformą ir jos </small>
				<p>naudą</p>
			</div>
			<div class="detail-section">
				<a href="#">Skaityti plačiau</a>
			</div>
		</div>
		<div class="dashbord dashbord-red">
			<div class="icon-section">
				<i class="fa fa-sign-in" aria-hidden="true"></i><br>
				<small>Jau esate platformos</small>
				<p>naudotojas? </p>
			</div>
			<div class="detail-section">
				<a href="#">Prisijunkite</a>
			</div>
		</div>
		<div class="dashbord dashbord-skyblue">
			<div class="icon-section">
				<i class="fa fa-paper-plane-o" aria-hidden="true"></i><br>
				<small>Išsiųsta bendra žinučių suma</small>
				<p>96</p>
			</div>
			<div class="detail-section">
				<a href="#">Tai šaunu!</a>
			</div>
		</div>
	</div>
{% endblock %}
