{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

<div class="row" style="display: flex; justify-content: space-between; padding-bottom: 8%; padding-top: 2%">
	<img src="/logo.png" class="img-fluid logo">
	<div class="col-md-6">
		{#		<h1>
                    Kaimynė padėk!
                </h1>#}
		<p style="font-size: 17px; text-align: justify;" class="text-black-50">
			Tai prašymų ir skolinimosi aplikacija, kuri skirta
			Lietuvos aukštųjų mokyklų bendrabučiams bei jų studentams palengvinti komunikaciją tarp kaimynų.

		<div class="text-center">
			<a href="{{ path('org_registration') }}" class="btn btn-success">Registruoti organizaciją</a>
		</div>
		</p>
	</div>
</div>

	<h3 class="text-black-50 text-center">Trumpai apie šią aplikacija</h3>

<div class="row main-section">
		<div class="text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Bendrabučiai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/619/619104.svg" class="index-panel-img">
					<br>
					Aukštoji mokykla valdo savo bendrabučius</p>
			</div>
		</div>
		<div class="text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Studentai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/1945/1945977.svg" class="index-panel-img">
					<br>
					Organizacijos į bendrabučius kviečia studentus</p>
			</div>
		</div>
		<div class="text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Prašymai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/2126/2126347.svg" class="index-panel-img">
					<br>
					Bendrabutyje gali pasidalinti prašymų su gyventojais</p>
			</div>
		</div>
		<div class="text-black-50 index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Apdovanojimai</h5>
				<p class="card-text text-black-50">
					<img src="https://image.flaticon.com/icons/svg/2206/2206446.svg" class="index-panel-img">
					<br>
					Už suteiktą pagalbą gyventojai gauna apdovanojimus</p>
			</div>
		</div>
	</div>
{% endblock %}
