{% extends 'base.html.twig' %}

{% block title %}Kaimyne padėk!{% endblock %}

{% block body %}

	<p class="text-white text-center statistic"><strong><span style="color: red">Kaimyne padėk!</span></strong> statistika:
		Aukštosios mokyklos: <strong>8</strong> |
		Bendrabučiai: <strong>10</strong> |
		Studentai: <strong>1215</strong> |
		Prašymai: <strong>3521</strong> |
		Apdovanojimai: <strong>354</strong>
	</p>

	<div class="row main-section">
		<div class="card text-white index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Bendrabučiai</h5>
				<p class="card-text text-white">
					<img src="https://image.flaticon.com/icons/svg/904/904846.svg" class="index-panel-img">
					<br>
					Kiekviena Lietuvos aukštoji mokykla sukūrusi savo organizaciją gali valdyti savo bendrabučius.</p>
			</div>
		</div>
		<div class="card text-white index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Studentai</h5>
				<p class="card-text text-white">
					<img src="https://image.flaticon.com/icons/svg/167/167750.svg" class="index-panel-img">
					<br>
					Organizacijos į savo bendrabučius kviečia studentus ir jų gyvenimą padaro interaktyvesni.</p>
			</div>
		</div>
		<div class="card text-white index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Prašymai</h5>
				<p class="card-text text-white">
					<img src="https://image.flaticon.com/icons/svg/2126/2126347.svg" class="index-panel-img">
					<br>
					Studentas esantis bendrabutyje gali parašyti prašymą, kurį mato visi bendrabučio gyventojai.</p>
			</div>
		</div>
		<div class="card text-white index-panel index-panel-bg mb-3 col-md-3">
			<div class="card-body text-center">
				<h5 class="card-title">Apdovanojimai</h5>
				<p class="card-text text-white">
					<img src="https://image.flaticon.com/icons/svg/2206/2206446.svg" class="index-panel-img">
					<br>
					Už suteiktą pagalbą kitam, bendrabučių gyventojai užsidirba taškus už kuriuos gauna apdovanojimus.</p>
			</div>
		</div>
        {% if app.user %}
            {% else %}
			<a href='registration'>
			<button class="btn btn-lg btn-primary"><i class="fas fa-user-plus"></i> Registruoti organizaciją</button>
			</a>
			<a href='login'>
			<button class="btn btn-lg btn-danger"><i class="fas fa-sign-in-alt"></i> Prisijungti</button>
			</a>
        {% endif %}		
	</div>
{% endblock %}
