body {
    background: #1d2e5a !important;
}

.container {
    margin-top: 50px;
}

.navbar {
    background-color: #000000 !important;
}

.intro-text {
    color: white;
}

.panel {
    background: white;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

label {
    color: black !important;
}

.panel-header p {
    background: #3655a5;
    padding: 10px;
    border-radius: 2px;
    color: white;
}

.panel-content {
    padding: 15px;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

footer {
    margin-top: 50px;
    background: #0f182d;
}