{% extends 'base.html.twig' %}

{% block title %}Organizacija{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>Pridėti bendrabutį</p>
            </div>
            <div class="panel-content">
                {{ form_start(DormAddFormType) }}
                {{ form_widget(DormAddFormType) }}
                <button type="submit" class="btn btn-primary">Pridėti bendrabutį</button>
                {{ form_end(DormAddFormType) }}
            </div>
        </div>
    </div>

{% endblock %}
