{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>Bendrabučiai</p>
            </div>
            <div class="panel-content">
                <div class="row">
                    {% for dormitory in dormitories %}
                    <div class="col-md m-1">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                {{ dormitory.organisationId}}
                                <h5 class="card-title">{{ dormitory.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ dormitory.address }}</h6>
                                <p class="card-text">Prisijungusių prie sistemos: <b>2</b></p>
                                <p class="card-text">Aktyvių prašymų: <b>2</b></p>
                                <p class="card-text">Įvykę prašymai: <b>4</b></p>
                                <p class="card-text">Viso pranešimų bendrabutyje: <b>44</b></p>
                                <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i> Valdyti</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <a href=organisation/add>
                    <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Pridėti bendrabutį</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
