{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
        <div class="panel">
            <div class="panel-header">
                <p>Bendrabučiai</p>
            </div>
            <div class="panel-content">
                <a href="{{ path('addOrganisation') }}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Pridėti bendrabutį</button>
                </a>
                <br><br>
                {% if dormitories is empty %}
                    <p class="text-center">Kol kas jūsų organizacija neturi bendrabučių.
                    <br>
                    <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
                    </p>
                {% endif %}
                <div class="row">
                    {% for dormitory in dormitories %}
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-header">
                                <p>{{ dormitory.title }}</p>
                            </div>
                            <div class="text-center">
                            <img src="https://image.flaticon.com/icons/svg/619/619104.svg" class="index-panel-img">
                            <h6 class="card-subtitle mb-2 text-muted">{{ dormitory.address }}</h6>
                            </div>
                                <div class="panel-content text-center">
								<a href=organisation/admin?id={{ dormitory.id }}>
                                <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i> Valdyti</button>
								</a>
                            </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                </div>
            </div>
{% endblock %}
