{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>{{ dormitoryInfo.title }} bendrabučio valdymas</p>
            </div>
            <div class="panel-content">
               
                   <h5>Bendrabučio administratorius: {{ dormitory.owner }}</h5>
				   <h5>Bendrabučio adresas: {{ dormitoryInfo.address }}</h5>
				   <h5>Bendrabučio studentai: {{ dormitoryInfo.address }}</h5>
				   <div style='height:1px; width:100%; background:#e0e0e0;'></div><br>
				   <h6>Įveskite studentų el paštus. Galima naudoti kelis vienu metu. Po kiekvieno el pašto nepamirškite padėti kabliataškio.</h6>
				   <form action='/organisation/invite' method='POST'>
				   <input required placeholder="El pašto adresas" type="text" name="studentmail"><br>
                   <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-wrench"></i> Pridėti studentus</button>
				   </form>
				   	   

            </div>
        </div>
    </div>
{% endblock %}
