// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background: #e8e8e8;
  height: 100%;
  position: relative;
  font-size: 15px;
}

header {
  background: white;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.header-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 1%;
  height: calc(100% - 56px);
  min-height: 100vh;
}

.logo {
  height: 125px;
  margin-left: 10%;
  padding-right: 23px;
}

.index-about-text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.index-about-article {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.intro-text {
  width: 50%;
  margin-top: 36px;
  margin-right: 10%;
  text-align: center;
}

.panel {
  background: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.index-panel {
  margin-right:-30px;
}

.index-panel-bg {
  background: white;
}

.index-panel-img {
  height: 100px;
  padding: 10px;
}

label {
  color: black !important;
}

.panel-header p {
  background: #343a40;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.panel-content {
  padding: 15px;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

.main-section {
  text-align: center;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vert-line {
  border: none;
  border-left: 1px solid #73848c;
  height: 20vh;
  width: 1px;
}

input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: grey !important;
}

.badge1 {
  position:relative;
  cursor: pointer;
}
.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-0px;
  right:9em;
  font-size: .7em;
  background:green;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.help-button {
  cursor: pointer;
  background: #343a40;
  padding: 7px;
  color: white;
  border-radius: 5px;
  border: none;
}

.help-button > img {
  height: 20px
}

.report-button {
  cursor: pointer;
  background: #e20808;
  padding: 7px;
  color: white;
  border-radius: 5px;
  border: none;
}

.report-button > img {
  height: 20px
}

.help-button > span  {
  vertical-align: middle
}

.report-button > span  {
  vertical-align: middle
}

.notification-url {
  color: black;
}

.notification-url:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background: white !important;
}

footer {
  padding: 10px;
  color: white;
  background-color: #343a40;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  .vert-line {
    height: 0;
  }
  .badge1[data-badge]:after {
    right:32em;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  .vert-line {
    height: 0;
  }
  .badge1[data-badge]:after {
    right:32em;
  }
}