// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background: #e8e8e8;
  height: 100%;
  position: relative;
}

header {
  background: white;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.header-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 1%;
  height: calc(100% - 56px);
  min-height: 100vh;
}

.logo {
  height: 125px;
  margin-top: 1px;
  margin-left: 15%;
}

.index-about-text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.index-about-article {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.intro-text {
  width: 50%;
  margin-top: 36px;
  margin-right: 10%;
  text-align: center;
}

.panel {
  background: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.index-panel {
  margin-right:-30px;
}

.index-panel-bg {
  background: white;
}

.index-panel-img {
  height: 100px;
  padding: 10px;
}

label {
  color: black !important;
}

.panel-header p {
  background: #343a40;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.panel-content {
  padding: 15px;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

.main-section {
  text-align: center;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 15vh;
  width: 1px;
}

input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: grey !important;
}

footer {
  padding: 10px;
  color: white;
  background-color: #343a40;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  hr {
    height: 0;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  hr {
    height: 0;
  }
}