// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: Nunito, Arial, sans-serif;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  background: #f7f7f7;
}

header {
  background: #0d003c;
}

.header-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 10em;
  padding-bottom: 1%;
}

.index-about-text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.index-about-article {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.intro-text {
  font-size: 1.125rem;
  text-align: justify;
  font-weight: bolder
}

.panel {
  background: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.index-panel {
  margin-right:-30px;
}

.index-panel-bg {
  background: white;
}

.index-panel-img {
  height: 100px;
  padding: 10px;
}

label {
  color: black !important;
}

.panel-header p {
  background: #343a40;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.panel-content {
  padding: 15px;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

.main-section {
  text-align: center;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
}

.vert-line {
  border: none;
  border-left: 1px solid #73848c;
  height: 20vh;
  width: 1px;
}

input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.navbar {
  background: #443674 !important;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 700;
  padding-left: 1rem;
}

.help-button {
  cursor: pointer;
  color: #fff !important;
  border-radius: 5px;
  border: none;
  padding: 4px;
}

.help-button > img {
  height: 20px
}

.report-button {
  cursor: pointer;
  background: #e20808;
  color: white !important;
  border-radius: 5px;
  border: none;
  padding: 4px;
}

.report-button > img {
  height: 20px
}

.notification-url {
  color: black;
}

.notification-url:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background: white !important;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-purple {
  background: #553BBB;
  color: white;
}

.messageInfo {
  background: #c1c1c1;
  padding: 8px;
  border-radius: 5px
}

.onlineUser {
  background: #49a746;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.messageContext {
  padding-left: 7%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    display: none;
  }
  .intro-button {
    display: none;
  }
  .vert-line {
    height: 0;
  }
  .badge1[data-badge]:after {
    right:32em;
  }
  .messageContext {
    padding-left: 12%;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    display: none;
  }
  .intro-button {
    display: none;
  }
  .vert-line {
    height: 0;
  }
  .badge1[data-badge]:after {
    right:32em;
  }
  .messageContext {
    padding-left: 12%;
  }
}