// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background: #2e2552;
}

header {
  background: #000000;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.header-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 1%;
}

.navbar {
  background-color: #2e2552 !important;
}

.logo {
  height: 125px;
  margin-top: 1px;
  margin-left: 15%;
}

.intro-text {
  color: white;
  width: 50%;
  margin-top: 36px;
  margin-right: 10%;
}

.panel {
  background: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.index-panel {
  margin-right:-30px;
  margin-top:10px;
}

.index-panel-bg {
  background: #6046c7;
}

.index-panel-img {
  height: 100px;
  background: #000000;
  padding: 10px;
  border-radius: 21px;
}

label {
  color: black !important;
}

.panel-header p {
  background: #6046c7;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.panel-content {
  padding: 15px;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

footer {
  margin-top: 50px;
  background: #0f182d;
}

.main-section {
  margin:0 auto;
  text-align: center;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 15vh;
  width: 1px;
}

input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.statistic {
  background: black;
  border-radius: 5px;
  padding: 5px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: grey !important;
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  hr {
    height: 0;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    width: 100%;
  }
  .header-content {
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  hr {
    height: 0;
  }
}