{% extends 'base.html.twig' %}

{% block title %}Hello PublishController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/code/src/Controller/PublishController.php'|file_link(0) }}">src/Controller/PublishController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/code/templates/publish/index.html.twig'|file_link(0) }}">templates/publish/index.html.twig</a></code></li>
    </ul>
</div>
    {% block javascripts %}
        <script>
            let ul = null;
            const es = new EventSource('http://127.0.0.1:9090/.well-known/mercure?topic=1e9');
            es.onmessage = e => {
                const data = JSON.parse(e.data);

                if (!ul) {
                    ul = document.createElement('ul');

                    const messages = document.getElementById('main--container');
                    messages.innerHTML = '';
                    messages.append(ul);
                }

                const li = document.createElement('li');
                li.append(document.createTextNode(data.headline));
                ul.append(li);
            }
        </script>
    {% endblock %}
{% endblock %}