<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

        <title>{% block title %}Studentų prašymų bei skolinimosi platforma - Kaimynė padėk!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include "includes/navbar.html.twig" %}
    <header>
        <div class="header-content">
        <img src="/logo.png" class="img-fluid logo">
        <hr>
        <p class="intro-text">
            Tai prašymų ir skolinimosi platforma, kuri skirta lietuvos aukštųjų  mokyklų bendrabučiams bei jų studentams palengvinti komunikaciją tarp kaimynų.
        </p>
        </div>
    </header>
    <div class="container">
        {% block body %}      
        {% endblock %}
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
