<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

        <title>{% block title %}Studentų prašymų bei skolinimosi aplikacija - Kaimynė padėk!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include "includes/navbar.html.twig" %}
    {% if app.user == false %}
    <header>
    <div class="container" style="display: flex; justify-content: space-around; padding: 2%">
        <img src="/logo.png" class="img-fluid logo">
        <div class="col-md-6">
            <p class="text-white intro-text">
                Tai prašymų ir skolinimosi aplikacija, kuri skirta
                Lietuvos aukštųjų mokyklų bendrabučiams bei jų studentams palengvinti komunikaciją tarp kaimynų.

            <div class="text-center intro-button">
                <a href="{{ path('org_registration') }}" class="btn btn-success">Registruoti organizaciją</a>
            </div>
            </p>
        </div>
    </div>
    </header>
    {% endif %}
    <div class="container">
        <br>
        {% block body %}
        {% endblock %}
    </div>
    {#{% include "includes/footer.html.twig" %}#}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
