{% extends 'base.html.twig' %}

{% block title %}Apdovanojimai{% endblock %}

{% block body %}
    <div class="box">
        <h2>Apdovanojimai</h2>
        <p>Čia jūs matote pateiktus visus apdovanojimus, kuriuos jūs galite gauti priklausomai nuo jūsų
        aktyvumo bendrabutyje.</p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Apdovanojimas</th>
                <th scope="col">Užduotis</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><img src="/awards/1.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas suteikė pagalbą bent vieną kartą.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><img src="/awards/2.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas suteikė pagalbą 10 kartų.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><img src="/awards/3.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas suteikė pagalbą 20 kartų.</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><img src="/awards/4.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas pasiekė 1000 taškų ribą.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><img src="/awards/5.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas pasiekė 2500 taškų ribą.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><img src="/awards/9.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas pasiekė 5000 taškų ribą.</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td><img src="/awards/10.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas pasiekė 10000 taškų ribą.</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td><img src="/awards/6.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas paprašė pagalbos 10 kartų.</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td><img src="/awards/7.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas paprašė pagalbos 20 kartų.</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td><img src="/awards/8.gif"></td>
                <td class="table-text-center">Bendrabučio gyventojas paprašė pagalbos 30 kartų.</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
