{% extends 'base.html.twig' %}

{% block body %}
<div class="box">
    <h2>Mano prašymai <span class="badge badge-primary">{{ messages|length }}</span></h2>

    {% if messages is empty %}
        <p class="text-center">Kol kas jūs nesate parašęs pranešimų.
            <br>
            <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
        </p>
    {% endif %}

    <ul class="list-unstyled">
        {% for message in messages %}
        <li class="row">
            <div class="col-md-9">
            <strong>{{ message.createdAt|date('Y-m-d h:m:s') }}</strong>
            <a href="{{ path('message', {'id': message.id}) }}">Peržiūrėti</a>
            <br>
            {{ message.content }}
            </div>
            <div class="col-md-3">
                {% if message.solved and message.status == 2 and message.solver %}
                    <img src="https://image.flaticon.com/icons/png/128/845/845646.png" style="height: 25px">
                {% elseif message.solved and message.solver and message.status == 1 %}
                    <img src="https://image.flaticon.com/icons/png/128/1250/1250273.png" style="height: 25px">
                {% else %}
                    <img src="https://image.flaticon.com/icons/png/128/753/753345.png" style="height: 25px">
                {% endif %}
            </div>
        </li>
            <hr>
        {% endfor %}
    </ul>
</div>
{% endblock %}