<p>
    Sveiki! {{ name }}
    <br><br>
    Jūs pakviestas naudotis sistema, Kaimyne Padėk!
    <br>
    Spauskite <a href="http://barakas.projektai.nfqakademija.lt/register/invite?invite={{link}}">šią nuorodą.</a>
    <br>
    Tikimės, kad bendrabučio gyventojams aplikacija bus naudinga ir pravers kiekvieną dieną.
    <br><br>
    Gero naudojimosi linki
    <br>
    Kaimyne padėk administracija
</p>