<p>
   Sveiki!
   <br><br>
   Džiaugiamės, jog nusprendėte pradėti naudotis mūsų Kaimyne padėk aplikacija.
   <br>
   Spauskite <a href="http://barakas.projektai.nfqakademija.lt/login">šią</a>
   nuorodą ir prisijungimui naudokite šiuos duomenis:
   <br>
   Prisijungimo vardas: <strong>{{ org_email }}</strong>
   <br>
   Laikinas slaptažodis: <strong>{{ password }}</strong>
   <br>
   Tikimės, kad bendrabučio gyventojams aplikacija bus naudinga ir pravers kiekvieną dieną.
   <br><br>
   Gero naudojimosi linki
   <br>
   Kaimyne padėk administracija
</p>